body{
    background: #DD5E89;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F7BB97, #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
 #main-prod-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid  /*rgba(0,0,0,0.30)*/black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
    margin: 20px auto;
    display: block;
 }

 .prod-img{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border:1px solid /*rgba(0,0,0,0.30)*/ black;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
 }
 .prod-container{
    display: flex;
    justify-content: center;
 }